/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* VARIABLES */
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-gold: #c59d5f;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/* GLOBAL STYLES */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

/* section */
.section {
    padding: 5rem 0;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* Menu */

.menu {
    padding: 5rem 0;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
}

.btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--clr-gold);
    cursor: pointer;
}

.filter-btn {
    background: transparent;
    border-color: var(--clr-gold);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transition);
}

.filter-btn:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid var(--clr-gold);
    border-radius: var(--radius);
    transition: 1.5s ease;
}

.photo:hover {
    /* height: 220px; */
    /* -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out; */
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1.5s ease;
}

.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
}

.item-info header .add-to-cart {
    margin-left: 5px;
    border-radius: var(--radius);
    padding: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    border-color: var(--clr-gold);
    color: var(--clr-gold);
    transition: var(--transition);
    /* background: transparent; */
}

.add-to-cart:hover {
    background: var(--clr-gold);
    color: var(--clr-white) !important;
}

.item-info h4 {
    margin-bottom: 0.5rem;
}

.price {
    color: var(--clr-gold);
}

.item-text {
    margin-bottom: 0;
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    .menu-item {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }

    .photo {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .section-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }

    .photo {
        height: 150px;
    }
}

/* Navigation Bar */
nav {
    background: var(--clr-grey-10);
    width: 100%;
    height: auto;
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

/* .nav-header.logo:hover,
.nav-header.nav-name:hover {
    size: 1.25rem;
} */


/* .nav-name:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
    padding: 0.25rem;
} */

.nav-name {
    letter-spacing: var(--spacing);
    font-size: 1.10rem;
    margin-left: 5px;
    margin-top: 9.80px;
}

.logo {
    height: 40px;
}

.logo:hover {
    height: 50px;
}

.links a {
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
}

.links a:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
    padding-left: 1.5rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 5px;
}

/* About us Page */
.number-section {
    padding: 1rem 0;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
}

.number-article {
    background: var(--clr-white);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    border-bottom: 4px solid transparent;
}

.number-article span {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.number-article p {
    margin: 0;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.number-article:nth-of-type(1) {
    border-bottom-color: #f59e0b;
}

.number-article:nth-of-type(2) {
    border-bottom-color: #14b8a6;
}

.number-article:nth-of-type(3) {
    border-bottom-color: #a855f7;
}

/* Contact Us Page */
/* Questions */
.titles {
    /* margin-top: 15vh; */
    margin-bottom: 4rem;
}

.titles h4 {
    color: var(--clr-gold);
    font-family: "Great Vibes", cursive;
    text-align: center;
}

.question {
    background: var(--clr-white);
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: var(--radius);
    border-bottom: 4px solid transparent;
    box-shadow: var(--light-shadow);
    margin-bottom: 1rem;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.question-title p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);
}

.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
    margin-bottom: 0;
}


/* Recipes Page */
.search-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 90%;
    padding: 20px;
}

.search-bar {
    position: relative;
}

form {
    width: 90%;
    margin: 20px auto;
    background: transparent;
    border: none;
    outline: none;
    /* border-radius: var(--radius); */
}

form input {
    width: 450px;
    max-width: 400px;
    border-radius: var(--radius);
    background: var(--clr-gold);
    color: var(--clr-white);
    padding: 7px;
    border: 2px solid var(--clr-black);
    border-color: var(--clr-gold);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input::placeholder {
    /* color: var(--clr-white); */
    letter-spacing: var(--spacing);
    color: var(--clr-grey-10);
    text-align: center;
}

input:hover {
    color: var(--clr-white);
    background: var(--clr-black);
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=); */
    background-image: url('../cross.svg');
    background-size: 10px 10px;
}

/* form ion-icon { */
/* width: 8%; */
/* font-size: 3rem; */
/* margin-bottom: -8px; */

/* color: var(--clr-grey-10);
    display: inline-block;
    float: right;
    margin-top: -28.5px;
    cursor: pointer;
} */

#searchBtn {
    color: var(--clr-grey-10);
    position: absolute;
    left: 30px;
    bottom: 28.5px;
    /* cursor: pointer; */
}

.search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(500px, 1fr));
}

/* .item {
    width: 100%;
    border-radius: var(--radius);
    background: var(--clr-white);
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
} */

.item {
    background: var(--clr-white);
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: var(--radius);
    border-bottom: 4px solid transparent;
    box-shadow: var(--light-shadow);
    margin-bottom: 1rem;
}

.item img {
    width: 50%;
    height: 200px;
    /* float: center; */
    object-fit: cover;
}

/* .item.flex-container {
    display: flex;
    align-items: center;
} */

.item-data {
    display: block;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
}


/* Cart Page */
#btnEmpty {
    background: transparent;
    border-color: var(--clr-gold);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transition);
}

#btnEmpty:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
}

th {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--clr-gold);
    
}

tfoot tr td {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--clr-gold);
    font-weight: bold;
}